html {
	scroll-behavior: smooth;
	color: black;
	padding-bottom: 2vh;
}

body {
	background-color: #fff7f3;
	font-family: "Inter", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transition: transform 0.25s ease-in-out;
	transform-origin: bottom right;
}
a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
a:not(:hover)::after {
	transform: scaleX(0);
	transform-origin: bottom left;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #fff7f3;
    display: flex;
    column-gap: 20px;
    justify-content: right;
    padding: 10px 20px;
    z-index: 100;
}
#menu {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 3vw;
	margin-top: 0;
	margin-bottom: 0;
}
#navbar a {
	position: relative;
}

#intro-container {
	margin: 25vh 0;
	height: 60vh;
}
#intro-container {
	display: flex;
	justify-content: space-around;
    align-items: center;
    width: 100%;
	padding: 0 5vw;
	box-sizing: border-box;
	gap: 20px;
	
    /* border: dashed 2px; */
}
#intro {
	max-width: 750px;
    margin-right: 10px;
    /* border: dashed 2px; */
}
#intro h1, #projects-container h1 {
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 0;
}
#intro h2, #projects-container h2 {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 0;
}
#intro p {
	margin-top: 0;
	font-weight: 500;
	font-size: 25px;
	max-width: 500px;
}
#intro-pfp {
	background-image: url("./image/profilepicture.jpg");
	background-position: -45px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
    rotate: 5deg;
	aspect-ratio: 1/1.5;
	height: 100%;
	border-radius: 50px;

    /* border: dashed 2px; */
}

#projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
#projects-container h2 img {
	width: 0.75em;
	margin-right: 5px;
}
#projects-container p {
	margin-top: 0;
	font-weight: 500;
	font-size: 16px;
	max-width: 500px;
	margin-bottom: 0;
	display: flex;
}
.project {
	display: flex;
	justify-content: space-around;
    align-items: center;
    width: 65%;
	padding: 0 5vw;
	box-sizing: border-box;
	gap: 20px;
	/* max-width: 85vw; */
	/* border: 2px dashed; */
}
.project-desc {
	align-self: stretch;
	align-content: center;
	flex: 1;
	
	/* border: 2px dashed; */
}
.project-desc h2 {
	display: inline-block;
	position: relative;
	margin-top: 0;
}
.project-thumbnail {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* background-color: black; */
    height: 150px;
    border-radius: 15px;
    transition: background-size 0.3s ease-in-out;
}
.project-thumbnail:hover {
    background-size: 110%;
}
#project-thumbnail-rhs {
	background-image: url("./image/rushhoursolver.png");
	aspect-ratio: 1/1;
}
#project-thumbnail-qic {
	background-image: url("./image/quadtreeimgcompressor.png");
	aspect-ratio: 1/1;
}
#project-thumbnail-ai {
	background-image: url("./image/actuallyindonesians.jpg");
	aspect-ratio: 16/9;
}
#project-thumbnail-fa {
	background-image: url("./image/fontawesomeprothumbnail.png");
	aspect-ratio: 16/9;
}
#project-thumbnail-we {
	background-image: url("./image/wallpaperextractor.png");
	aspect-ratio: 1/1;
}
#project-thumbnail-bbd {
	background-image: url("image/bbdowngui.png");
	aspect-ratio: 16/9;
}

#hamburger {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px;
}
#hamburger img {
	width: 24px;
	height: 24px;
}

@media (max-width: 768px) {
	#hamburger {
		display: block;
	}
	#menu {
		list-style-type: none;
		display: none;
		flex-direction: column;
		align-items: end;
		gap: 1vh;
		position: absolute;
		top: 100%;
		right: 20px;
		background-color: #ffffff;
		padding: 15px;
		border-radius: 10px;
		outline: 1px solid black;
	}
	#menu.menu-open {
		display: flex;
	}
	#intro-container {
		flex-direction: column-reverse;
		height: 100vh;
		margin: 5vh 0;
		text-align: center;
		justify-content: center;
	}
	#intro {
		margin-right: 0;
	}
	#intro-pfp {
		height: 40vh;
		background-position: -35px;
	}
	#intro h1, #projects-container h1 {
		font-size: 40px;
	}
	#intro h2, #projects-container h2 {
		font-size: 20px;
	}
	#intro p {
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		font-size: 18px;
	}

	.project {
		flex-direction: column-reverse;
		max-width: 90vw;
	}
	.project-desc {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 1000px) {
	#intro-pfp {
		height: 30vh;
	}
	.project {
		width: 85%;
	}
}